@inject SignInManager<User> signInManager
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pollution Reports</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/mycss.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Pollution Reports</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form method="post" asp-action="logout" asp-controller="account">
                                    <button type="submit" class="nav-link btn btn-link py-0">
                                        @Localizer["Logout"] - @User.Identity.Name
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">@Localizer["Register"]</a>
                            </li>
                        }
                    </ul>
                    @if (signInManager.IsSignedIn(User) && User.Claims.Any(c => c.Value == "Admin"))
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Localizer["Company"]
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <div class="menu-item">
                                        <a class="dropdown-item nav-link text-dark" asp-controller="Company" asp-action="Add">@Localizer["AddCompany"]</a>
                                    </div>
                                    <div class="menu-item">
                                        <a class="dropdown-item nav-link text-dark" asp-controller="Company" asp-action="Index">@Localizer["ListCompanies"]</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Localizer["User"]
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <div class="menu-item">
                                        <a class="dropdown-item nav-link text-dark" asp-controller="Home" asp-action="AddUser">@Localizer["AddUser"]</a>
                                    </div>
                                    <div class="menu-item">
                                        <a class="dropdown-item nav-link text-dark" asp-controller="Home" asp-action="UserList">@Localizer["UserList"]</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    }
                    else if (signInManager.IsSignedIn(User) && User.Claims.Any(c => c.Value == "Company"))
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Company" asp-action="Index">@Localizer["MyCompanies"]</a>
                            </li>
                        </ul>
                    }
                    else if (signInManager.IsSignedIn(User))
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Company" asp-action="Index">@Localizer["Companies"]</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer border-top text-muted">
        <div class="container">
            <div class="footer-content">
                <div class="footer-lang">
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </div>
                <div class="footer-copyright">
                    &copy; 2019 - @Localizer["SEO"]
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
